<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">USER</title>
<meta charset="UTF-8" />
</head>
<body>
  <header>
    <a th:href="@{/}">Header [<span th:text="${userName}">userName</span>]</a>
  </header>
  <hr />

  <div class="content">
    <div th:if="${flashMessage}" th:text="${flashMessage}">flashMessage</div>

    <th:block layout:fragment="content">
      <p>Default layout content</p>
    </th:block>
  </div>

  <hr />
  <footer>Copyright &copy; 2017 sinsengumi.net. All Rights Reserved.</footer>
</body>
</html>